form{
    opacity: 0.8;
     border-radius: 25px;
     background-color: #abbee7;
     border: 2px solid #f1f1f1;   
     margin-left: 50ex;
     margin-right: 50ex;
     margin-top: 20ex;
     font-family: Franklin Gothic Medium;
     padding-left:1cm;
 }
 h1{
     font-family: cursive;
     padding-left: 13ex;
     color: #23134e;
 
 }
 #ch{
     margin-left: 2cm;
 }
 a{
     margin-left: 2cm;
 }
 
 input[type=text], input[type=password] {
     width: 80%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;}
 
 button {
         margin-left: 2cm;
         background-color: #20a9c2;
         color: white;
         padding: 14px 20px;
        
         border: 1px solid #ccc;
         cursor: pointer;
         width: 80%;
 
       }
       #body{
         background-color: #f2f3a8;
         padding: 0px;
         margin: 0px;
       }
       body {
         margin: 0;
         padding: 0;
       
         background: #f0f0f0;
         
        
       
       }
      
      #gradient
      {
        width: 100%;
        height: 800px;
        padding: 0px;
        margin: 0px;
      }
      .blob {
         position: absolute;
         top: 0;
         left: 0;
         fill: #4910e4;
         width: 24vmax;
         z-index: -1;
         animation: move 10s ease-in-out infinite;
         transform-origin: 50% 50%;
       }
       @keyframes move {
         0%   { transform: scale(1)   translate(10px, -30px); }
         38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
         40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
         78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
         80%  { transform: scale(1.3) translate(0vw, 54vh) rotate(-83deg); }
         100% { transform: scale(1)   translate(10px, -30px); }
       }
       